.Button {
  text-decoration: none;
  background-color: #09008d;
  color: #e2e2e2;
  font-weight: 700;
  margin: 10px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  border-bottom: 3px solid #0e004b;
  display: inline-block;
}

.Button:hover {
  color: black;
  background-color: #faf600;
}
