.signin {
  text-decoration: none;
  background-color: rgb(38, 0, 255);
  color: #e2e2e2;
  font-weight: 700;
  margin: 10px;
  padding: 12px 24px;
  border-radius: 20px;
  border: none;
  border-bottom: 3px solid #1c0485;
  display: inline-block;
}

.signin:hover {
  color: black;
  background-color: #faf600;
}

.signin-form {
  padding: 10px;
}
